*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.firstpage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-links{
    width: 100%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    

}

.logo{
    margin-left: 2%;
}


.hand{
    position: relative;
    right: 10%; 
    padding: 15px 10px;
    background-color: blue;
}

.auto{
    font: 14px;
    position: relative;
    left: 13rem;
    font-family: "Poppins", sans-serif;

}

.img-circle {
    width: 30px;
    height: auto;
    border-radius: 50%;
    padding: 1px;
    
    
  }
  .image{
    position: relative;
    left: 32rem;
  }

.login button{
    position: relative;
    left: 23.5rem;
    padding: 5px 30px;
    width: 10%;
    background-color: transparent;
    font-size: 14px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    color: white;
    border: 0.1px solid white;
    
    
}

.login-text{
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;

}



.pointer{
    position: relative;
    left: 14.5rem;
}

.counter p{
    position: relative;
    left: 7rem;
    margin: 3%;

}

.last-angle i {
    position: relative;
    right: 1.5rem;
}
